.cart_product{
    border-radius: 4px;
    border:1px solid rgb(238, 238, 238);
    font-size: 14px;
    display: flex;
    width:360px;
}
.cart_product_container{
    display: flex;
    justify-content: space-between;
}
.cart_productImage{
    height:120px;
    width:180px;
    object-fit: contain;
    /* background-color: lightgreen; */
}
.cart_productBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cart_product_buttons{
    display: flex;
    flex-direction: column;
}
.btn{
    font-size: 14px;
    height:25px;
    border:none;
    border-radius: 4px;
    margin:3px 0px;
    cursor:pointer;
}
.delete{
    background-color: rgba(255, 0, 0, 0.433);
}
.buy{
    background-color: rgb(230, 230, 5);;
}
.buy_add > button {
    margin:8px 0px;
    width:45%;
}
.cart_product_price{
    font-weight: 400;
    font-size: large;
}