.products-container {
  height: 100vh;
  display: flex;
  margin: 20px 0px;
  color: black;
}

.category-list-products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: max-content;
}

.sb-container {
  min-height: 100vh;
  display: flex;
}

.sb-left {
  border-right: 2px solid #d0d0d0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  position: sticky;
  color: black;
}

.colorText {
  width: 100%;
}

.sb-right {
  padding: 20px;
  flex: 3.5;
  display: flex;
  flex-direction: column;
  color: black;
}

.filter-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.filter-header {
  font-size: 16px;
  font-weight: 500;
}

.checkbox_div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox_div > input {
  height: 15px;
  width: 15px;
  color: black;
}

.save-filter {
  background-color: rgb(255, 187, 0);
  padding: 3px 5px;
  border-radius: 5px;
  width: 100%;
}

.filter-body {
  font-size: 14px;
}

.filter-body.price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.subcategory-product {
  font-size: 20px;
  /* padding: 0px 10px; */
}

.price-input {
  outline: lightgray;
  padding: 0px 5px;
  font-size: 14px;
  width: 80%;
}

.no-products-to-display {
  font-size: 26px;
  text-align: center;
}
.filterIcon {
  margin-right: 10px;
  color: black !important;
  display: none !important;
}

.fm_close_icon {
  position: absolute;
  display: none !important;
}

/* 🔸🔸🔸🔸🔸🔸🔸🔸🔸🔸 */

@media screen and (max-width: 400px) {
  .products-container {
    min-height: 100vh;
    height: max-content;
    display: flex;
    margin: 20px 0px;
    color: black !important;
  }

  /* .products-container-filter-active {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    margin: 20px 0px;
    color: black !important;
  } */

  .category-list-products {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    height: max-content;
  }

  .sb-container {
    min-height: 100vh;
    height: max-content;
    display: flex;
    position: relative;
  }

  .sb-left {
    border-right: 2px solid #d0d0d0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    max-height: 100vh;
    width: 0px;
    transform: translateX(-100vw);
  }

  .sb-left.active {
    transition: all 0.4s ease-in-out;
    width: 100vw;
    padding: 10px;
    font-size: 18px;
    transform: translateX(0px);
    max-height: 100vh;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .filter-wrapper {
    width: 100%;
  }

  .sb-right {
    padding: 0px;
    flex: 3.5;
  }

  .filter-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .filter-header {
    font-size: 16px;
    font-weight: 500;
  }

  .checkbox_div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .checkbox_div > input {
    height: 15px;
    width: 15px;
  }

  .save-filter {
    background-color: rgb(255, 187, 0);
    padding: 3px 5px;
    border-radius: 5px;
    width: 100%;
  }

  .filter-body {
    font-size: 14px;
  }

  .subcategory-product {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px 0px;
    padding: 8px 5px;
  }

  .price-input {
    outline: lightgray;
    padding: 0px 5px;
    font-size: 14px;
    width: 100%;
  }

  .no-products-to-display {
    font-size: 20px;
    margin: 30px auto;
  }
  .filter_top {
    width: 90%;
    position: relative;
  }
  .filterIcon {
    margin-right: 10px;
    color: rgb(44, 140, 196) !important;
    display: block !important;
    border: 1px solid rgb(38, 130, 206) !important;
    border-radius: 4px;
  }

  .fm_close_icon {
    position: absolute;
    display: block !important;
    right: 0;
    top: 0;
  }
}
