.categoryproducts {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 400px) {
  .categoryproducts {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
  }
}
