.home {
  display: flex;
  flex-direction: column;
  position: relative;
  color: gray;
  background-color: #efefef;
}

.cat_display_container {
  min-height: 100vh;
}

.cat_display {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.section_heading {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: gray;
}

.bottom {
  padding-bottom: 40px;
}

.home_bottom {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  /* color: gray; */
}

.section_heading_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
  color: gray;
  margin: 20px 0px;
}

@media screen and (max-width: 400px) {
  .home {
    display: flex;
    flex-direction: column;
    position: relative;
    color: gray;
    background-color: #efefef;
  }

  .cat_display_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .cat_display {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section_heading {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(37, 34, 34);
  }

  .bottom {
    padding-bottom: 40px;
  }

  .home_bottom {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    /* color: gray; */
  }

  .section_heading_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
    color: gray;
    margin: 20px 0px;
  }
}
