.home {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(0, 0, 0);
  background-color: #efefef;
}

/* .home_cat_container{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
} */

.cat_display_container {
  min-height: 100vh;
}

.home_cat_display {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

.home_section_heading {
  font-size: 24px;
  /* padding: 20px 0px; */
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgb(0, 0, 0);
}

.bottom {
  margin-top: -150px;
  z-index: 20;
}

.home_bottom {
  display: flex;
  flex-direction: column;
}

.section_heading_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  margin: 20px 0px;
}

.home_header_img{
  width: 100vw;
  object-fit: contain;
}

.home_middle{
  display: flex;
  align-items: center;
}

.home_header_img_container{
  position: relative;
}

.arrow_back{
  position: absolute;
  top: 20%;
  left: 0px;
  background-color: white;
  z-index: 10;
  height: 100px !important;
  width: 50px !important;
  cursor: pointer;
}

.arrow_forward{
  position: absolute;
  top: 20%;
  right: 0px;
  background-color: #fff;
  z-index: 10;
  height: 100px !important;
  width: 50px !important;
  cursor: pointer;
}





















/* 🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴🔴
 */























@media screen and (max-width: 400px) {
  .home {
    display: flex;
    flex-direction: column;
    position: relative;
    color: gray;
    background-color: #efefef;
  }

  .cat_display_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .home_cat_display {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 20px; */
    box-sizing: border-box;
    /* background-color: #fff; */
    border-radius: 5px;
  }

  .home_section_heading {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgb(37, 34, 34);
  }

  .bottom {
  margin-top: -200px;
  padding-bottom: 40px;
  }

  .home_bottom {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .section_heading_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
    color: gray;
    margin: 20px 0px;
  }
}
