.product_display_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* min-height: 100vh; */
}
.home {
  display: flex;
  flex-direction: column;
  position: relative;
  color: gray;
}
.home_right {
  min-height: 100vh;
}
.cat_display {
  display: flex;
  gap: 25px;
  overflow-x: auto;
}
.section_heading {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  /* color: white; */
  color: gray;
}
.bottom {
  /* background-color: #282c3f; */
  /* background-color: #efefef; */
  padding-bottom: 40px;
}
.home_bottom {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  /* color: gray; */
}

.section_heading_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
  color: gray;
  margin: 20px 0px;
}
select,
option {
  height: 30px;
  font-size: 16px;
}

.filter_category {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* ▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫ */

.product_modal {
  height: 300px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product_modal_component {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.482);
}
.close_modal_btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

.no_product_to_display {
  color: rgb(250, 145, 145);
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

/* ▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫ */
@media only screen and (max-width: 400px) {
  .home_left {
    display: none;
  }
  .product_display_container {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    padding: 0px;
    gap: 0px;
  }
  .home_right {
    flex: 1;
    justify-content: center;
    min-height: 100vh;
  }
  .home_bottom {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .section_heading_div {
    display: flex;
    padding: 0px 10px;
  }
  .section_heading {
    text-align: left;
  }
  .filter_category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
