.category_wrapper_div {
  max-width: 200px;
  min-width: 200px;
  height: 250px;
  display: flex;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;
}

.category_wrapper_div:hover {
  scale: 1.1;
}

.category_wrapper {
  height: max-content;
  min-width: 200px;
  color: white;
  border-radius: 5px;
}

.category_heading {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
}

.category_image {
  height: 180px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}
