.c_category_wrapper_div {
  max-width: 200px;
  min-width: 200px;
  height: max-content;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
  background-color: rgb(233, 216, 67);
}

.c_category_wrapper_div:hover {
  scale: 1;
}

.category_wrapper {
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.category_heading {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}

.category_image {
  height: 180px;
  max-width: 96%;
  min-width: 96%;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  background-color: #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1px;
}

@media screen and (max-width: 400px) {
  .c_category_wrapper_div {
    min-width: 45vw;
    max-width: 45vw;
    height: max-content;
    padding: 0px;
    transition: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(221, 221, 221);
    background-color: rgb(233, 216, 67);
  }

  .c_category_wrapper_div:hover {
    scale: 1;
  }

  .category_wrapper {
    height: 100%;
    width: 100%;
    border-radius: none;
    color: white;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .category_heading {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: black;
  }

  .category_image {
    height: 180px;
    width: 44vw;
    object-fit: contain;
    border-radius: 0px;
    cursor: pointer;
    background-color: #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 1px;
  }
}
