.form {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 70%;
}

.newProduct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.newProduct > h1 {
  margin-bottom: 20px;
}

.new-input > button {
  height: 30px;
  width: 100px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 128, 128, 0.762);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.backToHome {
  background-color: rgba(4, 144, 144, 0.762) !important;
  width: 100px;
}

.new-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
}

.new-input > label {
  width: 150px;
}

input,
select {
  height: 35px;
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
}

textarea {
  height: 80px;
  width: 100%;
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
}

.media {
  height: 30px;
}

input {
  padding: 0px 10px !important;
}

.login_loader {
  height: 20px !important;
  width: 20px !important;
}
