.product {
  max-height: 290px;
  min-height: 280px;
  width: 180px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lightgray;
  font-size: 14px;
  box-shadow: 0px 0px 1px 0px rgba(151, 151, 151, 0.46);
  display: flex;
  flex-direction: column;
  color: black;
  padding-bottom: 10px;
}

.product_price {
  /* font-size: large; */
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 16px !important;
}
.product_price_discount {
  font-weight: 400;
  color: rgb(125, 125, 125);
  text-decoration: line-through;
  font-size: 14px;
}
.discountValue {
  font-size: 14px !important;
}
.product_description {
  min-height: 20px;
  max-height: 40px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-y: hidden;
  /* background-color: lightgray; */
}
.product > img {
  min-height: 180px;
  width: 180px;
  /* border-radius: 4px; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
}
.productBottom {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product_buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn {
  font-size: 14px;
  height: 25px;
  border: none;
  border-radius: 4px;
  /* margin:3px 0px; */
  cursor: pointer;
}
.delete {
  background-color: rgba(255, 0, 0, 0.433);
}
.buy {
  background-color: rgb(230, 230, 5);
}
.buy_add {
  display: flex;
  justify-content: space-between;
}
.buy_add > button {
  margin: 8px 0px;
  width: 45%;
}

@media only screen and (max-width: 420px) {
  .product {
    height: 220px;
    width: calc(98.5vw / 2) !important;
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid rgb(211, 211, 211);
    font-size: 14px;
    box-shadow: 0px 0px 1px 0px rgba(151, 151, 151, 0.46);
    padding-bottom: 0px;
  }
  .product > img {
    padding: 5px;
    min-height: 180px;
    max-height: 180px;
    width: calc(98vw / 2);
    border-radius: 4px;
    object-fit: contain;
    background-color: #ffffff;
    box-sizing: border-box;
  }
}
