.navbar-container {
  position: relative;
  top: 0px;
  z-index: 999;
}

.navbar {
  position: relative;
  height: 50px;
  background-color: #337ab7;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  border-bottom: 0.5px solid lightgray;
  z-index: 400;
  color: white;
}
.navbar_search_modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100vw;
}
.navbar_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_icon {
  display: none;
  align-items: center;
}
.navbar_right {
  display: flex;
  align-items: center;
}
.orders {
  margin-right: 30px;
  cursor: pointer;
}
.orders:hover {
  color: rgb(255, 179, 1);
}
.modal_item.orders_small_screen {
  display: none;
}
.link {
  padding: 2px 4px;
  border-radius: 4px;
  color: lightgray;
  font-size: 14px;
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.quantity_badge_div {
  position: relative;
  display: flex;
  align-items: center;
}
.cart_icon {
  cursor: pointer;
}
.quantity_badge {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 12px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.navbar_brand {
  font-weight: 500;
  font-size: 24px;
  color: rgb(242, 255, 1);
  cursor: pointer;
}

.navbar_search {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-left: 10px;
}
input::placeholder {
  color: white;
  font-size: 16px;
}
.navbar_middle {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px 8px;
  width: 350px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  height: 35px;
  padding-right: 2px;
}

.search_bar_icon {
  display: none !important;
}

.nav_search_btn {
  background-color: white;
  color: #337ab7;
  margin-left: 5px;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
}
.empty_cart_btn {
  margin-right: 25px !important;
}

.user_avatar {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
}

.logout_modal {
  position: absolute;
  top: 35px;
  right: 10px;
  color: black;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 3px 0px;
  width: 100px;
}

.modal_item {
  cursor: pointer;
  padding: 5px;
}

.search_box_modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: black;
  background-color: #efefef;
  z-index: 500;
  padding: 20px 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.search_box_modal_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* transition: all 0.4s ease-in-out; */
}

.search_box_top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 90vw;
}

.search_searchBox_btn {
  background-color: rgb(49, 126, 193);
  color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 4px;
  height: max-content;
  width: max-content;
  margin: 5px 0px;
}

.search_box_modal_input {
  width: 90vw;
}

.modal_item:hover {
  background-color: #efefef;
}

.user_image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.login_link {
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.login_link:hover {
  color: rgb(255, 183, 0);
}

.username {
  margin-right: 10px;
}

@media only screen and (max-width: 400px) {
  .navbar {
    position: sticky;
    height: 50px;
    background-color: #337ab7;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 0.5px solid lightgray;
    z-index: 400;
    color: white;
    width: 100vw;
    box-sizing: border-box;
  }
  .navbar_middle {
    display: none;
  }
  .orders {
    display: none;
  }
  .modal_item.orders_small_screen {
    display: block;
  }
  .username {
    margin-right: 10px;
    display: none;
  }
  .search_bar_icon {
    display: block !important;
    margin: 0px;
  }
  .user_avatar {
    display: flex;
    align-items: center;
    margin-left: 0px;
    position: relative;
  }
  .navbar_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 30vw;
  }
  .filter_icon {
    display: flex;
    align-items: center;
  }
}
