.search-container {
  color: black;
}

.resultsPage {
  padding: 20px;
}

.sr-page-header {
  font-size: 26px;
  /* text-align: center; */
}

.search-container {
  height: 92vh;
  display: flex;
}

.sb-left {
  flex: 1;
}

.resultsPage {
  flex: 3.5;
  display: flex;
  flex-direction: column;
}
