@media screen and (max-width: 400px) {
  .navs {
    /* height: 100vh !important; */
    width: 100vw !important;
    background-color: rgb(28, 127, 208);
    color: brown;
    /* z-index: 200; */
  }

  button {
    background-color: antiquewhite;
    color: black;
    height: 50px;
    width: 100px;
  }
}
