.single_product_display {
  display: flex;
  flex-direction: column;
  font-size: 16px !important;
}
.productDisplayContainer {
  height: auto;
  width: 100vw;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: center;
}
.imageDisplayCont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 40vw;
}
.displayImage {
  height: 400px;
  width: 400px;
  object-fit: contain;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.productDisplayWrapper {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.productInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productInfoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
}
.productInfo {
  font-size: 22px;
}
.buy_add {
  display: flex;
  flex-direction: column;
}
.product_price {
  font-size: 20px;
}
.btn {
  width: 150px;
  height: 30px;
}
.backIcon {
  display: none;
  position: absolute;
  top: 20px;
  z-index: 999;
  left: 10px;
}

.quantity_input {
  height: 25px;
  border: 2px solid lightgray;
  width: 50px;
  margin: 0px 10px;
  border-radius: 4px;
  text-align: center;
}

.addToCart_btn {
  border: 1px solid #337ab7;
  color: #337ab7;
  /* padding: 3px; */
  border-radius: 4px;
}

.buy {
  font-size: 16px;
  color: gray;
}

@media only screen and (max-width: 400px) {
  .productDisplayWrapper {
    height: calc(100vh-50px);
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid lightgray; */
    /* background-color: red; */
  }
  .imageDisplayCont {
    /* background-color: green; */
    /* border: 1px solid lightgray; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
    max-width: 100vw;
    width: 100vw !important;
    height: 300px;
  }
  .displayImage {
    height: 100%;
    width: 100vw !important;
    object-fit: contain;
    border: none;
    margin: none;
    border-radius: 5px;
    margin: 0px;
  }

  .productInfoCont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0px 10px;
  }
  .backIcon {
    display: block;
    position: absolute;
    top: 5px;
    color: black;
    z-index: 999;
    left: 10px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50%;
  }
  .buy_add {
    width: 100%;
    display: flex;
  }
  .addToCart_btn {
    border: 1px solid #337ab7;
    color: #337ab7;
    border-radius: 4px;
    width: 90vw !important;
    height: 40px;
    box-sizing: border-box;
  }
  .btn {
    width: 90vw !important;
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
  }
  .product_price {
    font-size: 15px;
  }
  .product_price_discount {
    font-size: 14px;
  }
  .discountValue {
    font-size: 14px;
  }
}
